<!doctype html>
<html >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
   
  </head>
  <body >
    <div>
      Hello
    </div>
</body>
<script>
 var name = "<%- name %>";
  console.log(name);
</script>
</html>
