<!doctype html>
<html >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/socket.io.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
    <script>
      function getAssociateDetails(){
        var details = {
          associateName : '<%- associateName %>',
          associateId : '<%- associateId %>',
          dateOfBirth : '<%- dateOfBirth %>',
          weddingDate : '<%- weddingDate %>',
          url: '<%- url %>'
        }
        return details;
      }
  </script>
  <link rel="stylesheet" type="text/css" href="/assets/styles/chat.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/bday.css">
  </head>
  <body >
      <div id="menuDiv">
          <div class="" style="float: right; cursor: pointer;"> 
            <div class="menu_trigger collapsed"><i class="fa fa-chevron-down"></i></div>
          </div>
      </div>
      <div id="mainDiv" class="mainDiv">
          <!-- <div id="welcomeInfo" style="font-size: 12px;
          text-align: center;
          margin-left: 20px;
          margin-right: 6px;
          font-style: italic;
          background-color: #3386da;
          color: #ffffff;
          margin-top: 4px;
          border-radius: 2px;
          margin-bottom: -24px;display:none;height:22px">
            Just to let u know, chat conversation will be recorded.
          </div> -->
          <div style="padding-bottom: 90px">
            <ul id="messages" style="margin-top: -14px;">
            </ul>
            <div id="typingIndicator" style="display: none;padding-left: 19px;">
              <p style="margin-bottom: -1rem; margin-left: 22px;">
                <img class="img-circle" style="margin-top: -28px;width:30px;height:30px;" src="/assets/img/female1.png" />
                <div class="typing-indicator" id="wave">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </p>
            </div>
            <div id="likedSuccess" class="alert alert-success" style="display:none">
              <strong>Good job,</strong> am glad I was able to help you today.
            </div>
            <div id="success-sent" class="alert alert-success" style="font-size: 12px;font-family: serif;display:none;height: 35px;margin-top: 18px;">
              <strong>Success, Feedback sent</strong>
            </div>
          </div>
      
          <span id="myModalSpan" data-toggle="modal" data-target="#myModal-sm" style="display: none"></span>
          <div class="modal fade" id="myModal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
            style="font-size:12px;font-family:-apple-system,BlinkMacSystemFont," Segoe UI",Roboto,"Helvetica
            Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";padding-right: 0px;">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header" style="height: 45px;margin-top: -16px;">
                  <h6 class="modal-title" id="exampleModalLongTitle">Feedback</h6>
                  <button id="feedbackBtnClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="margin-top: -14px;">
                  <span style="padding: 12px">Sorry, am still learning and could not help you much.</span>
                  <br>
                  <textarea class="form-control" id="message-text" style="font-size:12px;height: 100px;margin-top: 7px;"
                    placeholder="Write message here...." required="true"></textarea>
                  <input type="checkbox" id="feedbackEmail" checked>
                  <label for="feedbackEmail" style="font-size: 12px;padding-top: 9px;">Notify HR via Email</label>
                </div>
                <div class="modal-footer" style="height: 43px;">
                  <button id="submitFeedback" type="button" class="btn btn-primary">Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="footer-actions">
          <form action="" id="sendmessage">
            <div class="form-group">
              <div class="input-group">
                <input id="m" type="text" class="form-control" placeholder="Type Message Here" spellcheck="true"
                  autocorrect="on" autocomplete="off" style="font-size: 12px;font-family: Arial, Helvetica, sans-serif;" />
                <button class="input-group-addon">
                  <i class="fa fa-send-o"></i>
                </button>
                <span id="dataHide" style="display:none"></span>
              </div>
            </div>
          </form>
        </div>
</body>
<script>
 $("#welcomeInfo").show();
 var associateName = '<%- associateName %>';
 var url = $(location).attr('href');
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;
      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : sParameterName[1];
        }
      }
    };
 console.log(associateName);
 var msg = "";
 var host = '<%- url %>';
 var socket = io.connect(host, {
        query: {
          token: getUrlParameter('token')
        },
        extraHeaders: {
          "Authorization": "Bearer "+getUrlParameter('token')
        },
        transportOptions: {
    polling: {
      extraHeaders: {
        'x-clientid': 'abc'
      }
    }
  }
      });

    $('form').submit(function () {
        var spellWord = $("#m").attr("spellcheck");
        var spellingCheckWord = $('#m').val();
        msgValue = $('#m').val();
        if(msgValue.trim() != ''){
          socket.emit('chat message', $('#m').val());
            // $.ajax({
            //   url: host+"/api/userSpellingCorrection",
            //   type: 'POST',
            //   data: JSON.stringify({
            //     spellingCheckWord: spellingCheckWord
            //   }),
            //   headers: {
            //     "Content-type": 'application/json',
            //     "Authorization": 'Bearer '+ getUrlParameter('token')
            //   },
            //   dataType: 'json',
            //   success: function (data) {
            //     $("#dataHide").val(data.data);
            //     socket.emit('chat message', $('#dataHide').val());
            //   }
            // });
          }
         $('#m').val('');
         $('#m').focus();
         window.scrollTo(0, document.body.scrollHeight);
         return false;
       });


      socket.on('chat message', function (msg, smallTalk, defaultFallback) {
        if (msg) {
          if (msg.indexOf('Me:') === 0) {
            var userQuery = 'Me: ' + msgValue;
            insertChat(who(userQuery), userQuery, smallTalk, defaultFallback);
          } else {
            insertChat(who(msg), msg, smallTalk, defaultFallback);
            window.scrollTo(0, document.body.scrollHeight);
          }
        }
      });
      if (!socket) {
        socket.disconnect();
      }
      socket.on('error', function (msg, smallTalk, defaultFallback) {
        
        insertChat('HR', "Unauthorized User", smallTalk, defaultFallback);
            window.scrollTo(0, document.body.scrollHeight);
      });

  
</script>

<script src="/assets/js/chat.js"></script>
<script src="/assets/js/mia_plugin.js"></script>
<script>
</script>
</html>

