@import url("https://fonts.googleapis.com/css?family=Codystar|Quicksand:300,400,700");
*, *::before, *::after {
  box-sizing: border-box;
}

.birthdayDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* padding: 3rem; */
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #777;
  background: #2d1b55;
}

.birthdayDiv h1,.birthdayDiv h2,.birthdayDiv h3,.birthdayDiv h4,.birthdayDiv h5,.birthdayDiv h6 {
  margin-top: 0;
  font-weight: normal;
}

.birthdayDiv .wrapper {
  position: relative;
}

.birthdayDiv #scene {
  position: relative;
  overflow: hidden;
  width: 250px;
  max-width: 100%;
  min-height: 250px;
  border-radius: 50%;
  background: #41277C;
}
.birthdayDiv #scene::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.025);
}

.birthdayDiv .text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
}
.birthdayDiv .text h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 40px;
  color: #EEEEFF;
  text-shadow: 0 0 1px #41277C, 0 0 15px rgba(238, 238, 255, 0.85);
}
.birthdayDiv .text h2 {
  font-weight: 700;
  font-size: 2.5em;
  color: #9FB798;
}

.birthdayDiv .snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.birthdayDiv .snow .flake {
  opacity: 0;
  position: absolute;
  top: -0.25rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.birthdayDiv .snow .flake:nth-child(1) {
  left: 49%;
  -webkit-animation: blow 16962ms ease-in infinite;
          animation: blow 16962ms ease-in infinite;
  -webkit-animation-delay: 8502ms;
          animation-delay: 8502ms;
}
.birthdayDiv .snow .flake:nth-child(2) {
  left: 45%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2126ms;
          animation-delay: 2126ms;
}
.birthdayDiv .birthdayDiv .snow .flake:nth-child(3) {
  left: 2%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 9121ms;
          animation-delay: 9121ms;
}
.birthdayDiv .birthdayDiv .snow .flake:nth-child(4) {
  left: 74%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 3321ms;
          animation-delay: 3321ms;
}
.birthdayDiv .snow .flake:nth-child(5) {
  left: 71%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2332ms;
          animation-delay: 2332ms;
}
.birthdayDiv.snow .flake:nth-child(6) {
  left: 26%;
  -webkit-animation: blow 17372ms ease-in infinite;
          animation: blow 17372ms ease-in infinite;
  -webkit-animation-delay: 3632ms;
          animation-delay: 3632ms;
}
.birthdayDiv .snow .flake:nth-child(7) {
  left: 79%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 11911ms;
          animation-delay: 11911ms;
}
.birthdayDiv .snow .flake:nth-child(8) {
  left: 38%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 3349ms;
          animation-delay: 3349ms;
}
.birthdayDiv .snow .flake:nth-child(9) {
  left: 64%;
  -webkit-animation: blow 16122ms ease-in infinite;
          animation: blow 16122ms ease-in infinite;
  -webkit-animation-delay: 9474ms;
          animation-delay: 9474ms;
}
.birthdayDiv .snow .flake:nth-child(10) {
  left: 30%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6215ms;
          animation-delay: 6215ms;
}
.birthdayDiv .snow .flake:nth-child(11) {
  left: 10%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 11610ms;
          animation-delay: 11610ms;
}
.birthdayDiv .snow .flake:nth-child(12) {
  left: 91%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5185ms;
          animation-delay: 5185ms;
}
.birthdayDiv .snow .flake:nth-child(13) {
  left: 17%;
  -webkit-animation: blow 15951ms ease-in infinite;
          animation: blow 15951ms ease-in infinite;
  -webkit-animation-delay: 11950ms;
          animation-delay: 11950ms;
}
.birthdayDiv .snow .flake:nth-child(14) {
  left: 65%;
  -webkit-animation: blow 18243ms ease-in infinite;
          animation: blow 18243ms ease-in infinite;
  -webkit-animation-delay: 2976ms;
          animation-delay: 2976ms;
}
.birthdayDiv .snow .flake:nth-child(15) {
  left: 66%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5640ms;
          animation-delay: 5640ms;
}
.birthdayDiv .snow .flake:nth-child(16) {
  left: 37%;
  -webkit-animation: blow 17070ms ease-in infinite;
          animation: blow 17070ms ease-in infinite;
  -webkit-animation-delay: 3462ms;
          animation-delay: 3462ms;
}
.birthdayDiv .snow .flake:nth-child(17) {
  left: 5%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 915ms;
          animation-delay: 915ms;
}
.birthdayDiv .snow .flake:nth-child(18) {
  left: 11%;
  -webkit-animation: blow 15154ms ease-in infinite;
          animation: blow 15154ms ease-in infinite;
  -webkit-animation-delay: 1733ms;
          animation-delay: 1733ms;
}
.birthdayDiv .snow .flake:nth-child(19) {
  left: 74%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 8273ms;
          animation-delay: 8273ms;
}
.birthdayDiv .snow .flake:nth-child(20) {
  left: 92%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5365ms;
          animation-delay: 5365ms;
}
.birthdayDiv .snow .flake:nth-child(21) {
  left: 68%;
  -webkit-animation: blow 16887ms ease-in infinite;
          animation: blow 16887ms ease-in infinite;
  -webkit-animation-delay: 10842ms;
          animation-delay: 10842ms;
}
.birthdayDiv .snow .flake:nth-child(22) {
  left: 23%;
  -webkit-animation: blow 17800ms ease-in infinite;
          animation: blow 17800ms ease-in infinite;
  -webkit-animation-delay: 4362ms;
          animation-delay: 4362ms;
}
.birthdayDiv .snow .flake:nth-child(23) {
  left: 90%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6837ms;
          animation-delay: 6837ms;
}
.birthdayDiv .snow .flake:nth-child(24) {
  left: 47%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 4655ms;
          animation-delay: 4655ms;
}
.birthdayDiv .snow .flake:nth-child(25) {
  left: 45%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5094ms;
          animation-delay: 5094ms;
}
.birthdayDiv .snow .flake:nth-child(26) {
  left: 21%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2391ms;
          animation-delay: 2391ms;
}
.birthdayDiv .snow .flake:nth-child(27) {
  left: 88%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5950ms;
          animation-delay: 5950ms;
}
.birthdayDiv .snow .flake:nth-child(28) {
  left: 6%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6925ms;
          animation-delay: 6925ms;
}
.birthdayDiv .snow .flake:nth-child(29) {
  left: 69%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2107ms;
          animation-delay: 2107ms;
}
.birthdayDiv .snow .flake:nth-child(30) {
  left: 19%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 10315ms;
          animation-delay: 10315ms;
}
.birthdayDiv .snow .flake:nth-child(31) {
  left: 52%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 1379ms;
          animation-delay: 1379ms;
}
.birthdayDiv .snow .flake:nth-child(32) {
  left: 74%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 4356ms;
          animation-delay: 4356ms;
}
.birthdayDiv .snow .flake:nth-child(33) {
  left: 71%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 11340ms;
          animation-delay: 11340ms;
}
.birthdayDiv .snow .flake:nth-child(34) {
  left: 89%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 7535ms;
          animation-delay: 7535ms;
}
.birthdayDiv .snow .flake:nth-child(35) {
  left: 3%;
  -webkit-animation: blow 16875ms ease-in infinite;
          animation: blow 16875ms ease-in infinite;
  -webkit-animation-delay: 4448ms;
          animation-delay: 4448ms;
}
.birthdayDiv .snow .flake:nth-child(36) {
  left: 19%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5656ms;
          animation-delay: 5656ms;
}
.birthdayDiv .snow .flake:nth-child(37) {
  left: 51%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2492ms;
          animation-delay: 2492ms;
}
.birthdayDiv .snow .flake:nth-child(38) {
  left: 100%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 10199ms;
          animation-delay: 10199ms;
}
.birthdayDiv .snow .flake:nth-child(39) {
  left: 92%;
  -webkit-animation: blow 18708ms ease-in infinite;
          animation: blow 18708ms ease-in infinite;
  -webkit-animation-delay: 10461ms;
          animation-delay: 10461ms;
}
.birthdayDiv .snow .flake:nth-child(40) {
  left: 9%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 7234ms;
          animation-delay: 7234ms;
}
.birthdayDiv .snow .flake:nth-child(41) {
  left: 39%;
  -webkit-animation: blow 16988ms ease-in infinite;
          animation: blow 16988ms ease-in infinite;
  -webkit-animation-delay: 9443ms;
          animation-delay: 9443ms;
}
.birthdayDiv .snow .flake:nth-child(42) {
  left: 52%;
  -webkit-animation: blow 17967ms ease-in infinite;
          animation: blow 17967ms ease-in infinite;
  -webkit-animation-delay: 266ms;
          animation-delay: 266ms;
}
.birthdayDiv .snow .flake:nth-child(43) {
  left: 90%;
  -webkit-animation: blow 17335ms ease-in infinite;
          animation: blow 17335ms ease-in infinite;
  -webkit-animation-delay: 3543ms;
          animation-delay: 3543ms;
}
.birthdayDiv .snow .flake:nth-child(44) {
  left: 76%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 8304ms;
          animation-delay: 8304ms;
}
.birthdayDiv .snow .flake:nth-child(45) {
  left: 10%;
  -webkit-animation: blow 16650ms ease-in infinite;
          animation: blow 16650ms ease-in infinite;
  -webkit-animation-delay: 4178ms;
          animation-delay: 4178ms;
}
.birthdayDiv .snow .flake:nth-child(46) {
  left: 66%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2536ms;
          animation-delay: 2536ms;
}
.birthdayDiv .snow .flake:nth-child(47) {
  left: 92%;
  -webkit-animation: blow 15625ms ease-in infinite;
          animation: blow 15625ms ease-in infinite;
  -webkit-animation-delay: 9850ms;
          animation-delay: 9850ms;
}
.birthdayDiv .snow .flake:nth-child(48) {
  left: 46%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 4559ms;
          animation-delay: 4559ms;
}
.birthdayDiv .snow .flake:nth-child(49) {
  left: 27%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 8967ms;
          animation-delay: 8967ms;
}
.birthdayDiv .snow .flake:nth-child(50) {
  left: 46%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2537ms;
          animation-delay: 2537ms;
}

.birthdayDiv .tree {
  position: relative;
  position: absolute;
}
.birthdayDiv .tree::before,.birthdayDiv .tree::after {
  content: '';
  position: absolute;
}
.tree.one {
  bottom: 30%;
  left: 47%;
  opacity: 0.7;
}
.tree.two {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  bottom: 28%;
  left: 80%;
  opacity: 0.4;
}
.tree.three {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  bottom: 26%;
  left: 70%;
  opacity: 0.2;
}
.tree.four {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  bottom: 28%;
  left: 20%;
  opacity: 0.5;
}
.tree.five {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  bottom: 26%;
  left: 38%;
  opacity: 0.2;
}
.tree::before {
  border: 20px solid transparent;
  border-bottom: 30px solid #EEEEFF;
}
.tree::after {
  top: -10px;
  border: 20px solid transparent;
  border-bottom: 30px solid #EEEEFF;
}

.platform {
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-52%);
  transform: translateX(-52%);
  width: 400px;
  height: 13px;
  padding-top: 50px;
  background: #2d1b55;
  border-radius: 0 0 5px 5px;
}
.platform::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: #9FB4C7;
  border-radius: 0 0 5px 5px;
}
.platform .quote {
  padding: 0 1rem;
  font-family: "Codystar", cursive;
  font-size: 1.8em;
  text-align: center;
  line-height: 1.4;
  color: #9FB798;
}

@-webkit-keyframes blow {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    opacity: .5;
  }
  100% {
    opacity: .5;
    -webkit-transform: translate(0, 500px);
            transform: translate(0, 500px);
  }
}

@keyframes blow {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    opacity: .5;
  }
  100% {
    opacity: .5;
    -webkit-transform: translate(0, 500px);
            transform: translate(0, 500px);
  }
}
@media all and (max-width: 520px) {
  .wrapper {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}