html {
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.mainDiv {
  width: 100%;
  overflow-y: scroll;
  max-height: calc(100vh - 40px);
  overflow-x: hidden;
}

form {
  position: fixed;
  bottom: 0;
  width: 90%;
}

form input {
  border: 1px solid grey;
  padding: 10px;
  width: 90%;
  font-size: 100%;
  line-height: 1em
}

form button {
  background: #08788a;
  color: white;
  border: none;
  padding: 10px;
  font-size: 110%;
  line-height: 1em
}

.mytext {
  border: 0;
  padding: 10px;
  background: whitesmoke;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text>p:first-of-type {
  width: 100%;
  margin-top: 0;
  margin-bottom: auto;
  line-height: 1em;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.text>p:last-of-type {
  width: 100%;
  text-align: right;
  color: #426b66;
  margin-top: auto;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-l {
  float: left;
  padding-right: 10px;
}

.text-r {
  float: right;
  padding-left: 10px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  float: left;
  padding-right: 10px;
}

.macro {
  margin-top: 7px;
  width: 85%;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  margin-left: 3px;
}

.msj-rta {
  float: right;
  background: #ebefb6;
}

.msj {
  float: left;
  background: #b5e6dd;
}

.frame {
  background: #e0e0de;
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.frame>div:last-of-type {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex;
}

ul {
  width: 94%;
  list-style-type: none;
  padding: 18px;
  /* position:absolute; */
  top: 12px;
  display: flex;
  flex-direction: column;

}

.msj:before {
  width: 0;
  height: 0;
  content: "";
  top: -5px;
  left: -16px;
  border-style: solid;
  border-width: 0 13px 13px 0;
  border-color: transparent #b5e6dd transparent transparent;
}

.msj-rta:after {
  width: 0;
  height: 0;
  content: "";
  position: relative;
  border-style: solid;
  border-width: 2px 12px 0 0;
  border-color: #ebefb6 transparent transparent transparent;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d4d4d4;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d4d4d4;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #d4d4d4;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #d4d4d4;
}

.img-circle {
  border-radius: 50%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}

button.input-group-addon {
  background-color: #3386da;
  color: #ffffff;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.adp-chat-class {
  padding-left: 180px;
  margin-top: 6px;
  font-weight: bold;
  font-size: 12px;
  color: #9c9b9b;
  display: inline-flex;
}

[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 12px;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #e24678;
  vertical-align: middle;
  color: white;
  display: inline-block;
  margin-top: 11px;
  margin-left: -9px;
}

.typing-indicator {
  background-color: #E6E7ED;
  width: auto;
  border-radius: 20px;
  padding: 7px;
  display: flex;
  margin-left: 33px;
  float: right;
  margin-right: 28px;
  margin-top: -7px;
  /* padding-top: 5px; */
  /*position: absolute;*/
  -webkit-animation: 2s bulge infinite ease-out;
  animation: 2s bulge infinite ease-out;
}

.typing-indicator:before,
.typing-indicator:after {
  content: '';
  position: absolute;
  bottom: 14px;
  left: 36px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #E6E7ED;
}

.typing-indicator:after {
  height: 10px;
  width: 10px;
  left: 43px;
  bottom: 20px;
}

.typing-indicator span {
  height: 8px;
  width: 8px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
  animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
  animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
  animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

a,
a:visited {
  text-decoration: none;
  color: #4edcae !important;
  font-weight: 400;
}

.comments-space {
  height: auto;
  word-break: break-word;
}

.remaining-content span {
  display: none;
}

small {
  margin-right: 55px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  height: 40px;
  margin-left: 72px;
  font-size: 10px;
  margin-top: 6px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  height: 40px;
  margin-left: 54px;
  font-size: 10px;
  margin-top: 6px;
}

/*#questionsList li{ display:none;
}*/
#loadMore {
  color: green;
  cursor: pointer;
}

#loadMore:hover {
  color: black;
}

#showLess {
  color: red;
  cursor: pointer;
}

#showLess:hover {
  color: black;
}


/**Sandeep's CSS*/
ol#questionsList a,ol#questionsList a:hover,ol#questionsList a:visited {
  color: #4edcae !important;
}
.msj-rta {
  float: right;
  background: #27374e !important;
  color: white;
  border-radius: 4px 20px 20px;
}
.msj {
  float: right;
  margin-right: 12px;
  background: #fff;
  border-radius: 20px 4px 8px 20px!important;
  box-shadow: -1px 1px 1px rgba(0,0,0,.1);
}
.msj:before {
  border-color: transparent;
}
.msj-rta:after {
  border-color: transparent;
}
.msj-rta * {
    color: white;
}
.msj-rta li {
  font-size: 12px;
}
[data-letters]:before {
    top: 15px;
    width: 30px;
    height: 30px;
    border-radius: 4px 50% 50% 50%;
    overflow: hidden;
    float: right;
    text-transform: uppercase;
}
body {
  background-color: #f4f5f6;
  background: url(/assets/img/miabg.png);
  background-repeat: repeat;
}
.typing-indicator:before {
  left:0;
}
.typing-indicator:after {
  left: -10px;
}
div#wave {
  float: left;
}
div#wave .dot {
display: inline-block;
width: 6px;
height: 6px;
border-radius: 50%;
margin-right: 3px;
background: #303131;
animation: wave 1.3s linear infinite;
}
div#wave .dot:nth-child(2) {
animation-delay: -1.1s;
}
div#wave .dot:nth-child(3) {
animation-delay: -0.9s;
}
@keyframes wave {
0%, 60%, 100% {
  transform: initial;
}
30% {
  transform: translateY(-15px);
}
}
.typing-indicator {
margin-left: 61px
}

ul.uldetails {
list-style-type: disc;
border: dotted;
margin-bottom: 5px;
padding: 15px 30px;
padding-top: 5px;
}

.gtldetails {
font-size: 12px;
}

.gtldetails ul {
list-style-type: disc;
padding: 0px 18px;
width: 100%;
}
.gtldetails ul ul {
list-style-type: circle;
}
.gtldetails .clickables a{
color: #4edcae;
}
.gtldetails .clickables {
text-transform: capitalize;
width: fit-content;
}
.gtldetails p {
font-size: 12px;
} 
.mainDiv {
  width: 100%;
  overflow-y: scroll;
  max-height: calc(100vh - 40px);
  overflow-x: hidden;
}
.mainDiv::-webkit-scrollbar {
width: 6px;
background-color: #F5F5F5;
}

.mainDiv::-webkit-scrollbar-thumb:hover {
background: #262726;
border-radius: 5px;
}
.mainDiv::-webkit-scrollbar-thumb {
background: #262726;
border-radius: 5px;
}

.mainDiv::-webkit-scrollbar-thumb:active {
background: linear-gradient(left, #22ADD4, #1E98BA);
}
.text {
font-size: 0.7rem;
}
.colored {
color: #4edcae !important;
font-weight: 600;
}
a.morelink:hover,
a.morelink{
color: #13da47;
}

#sendmessage {
  width: 100%;
}

#sendmessage .form-group {
  margin-bottom: 0px !important;
}

#sendmessage .form-group button{
  background: white;
  color: #3386da;
  border: 0px;
}

#sendmessage .input-group{
  height: 40px;
}


#sendmessage .form-group input{
  box-shadow: none;
  border: none;
}

#sendmessage .form-group input::focus{
  box-shadow: none;
}

#footer-actions {
  position: absolute;
  bottom: 0;
}

#menuDiv {    
  position: absolute;
  bottom: 35px;
  width: 100%;
}

.optionsDiv {
  width: 100%;
  bottom: 35px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin-top: 37px;
}

.msg-action {
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 15px 10px 10px;
  border-bottom: 0.4px solid #e3e3e3;
  margin-bottom: 5px;
}

.action-elem {
  border-radius: 4px;
  border: solid 1px #ababab;
  padding: 5px 10px;
  margin-right: 7px;
  font-size: 11px;
  color: #344548;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}


.action-elem:hover {
  background: #3674bc;
  color: #fff;
  border-radius: 3px;
}
.menu_trigger {
  padding: 10px;
  background: white;    
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0.4px solid #e3e3e3;
  float: right;
  right: 0;
}